@import "sass/style";

.note {
  width: 300px;
  height: 110px;
  background-color: $whiteColor;
  border-radius: 5px;
  border: 1px solid $darkerGrayColor;
  overflow: hidden;

  @include note-shadow;
}

.note-filter {
  @include note-filter;
}

.note-content {
  height: 100px;
  box-sizing: border-box;
  padding: 20px 10px;

  p {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;

    &::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1.4em;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        white 100%
      );
      pointer-events: none;
    }
  }
}
