$whiteColor: #ffffff;
$blackColor: #1c2124;
$grayColor: #f5f6f8;
$darkerGrayColor: #edeff0;
$darkestGrayColor: #d4d5d9;

$blueFilterColor: #4378f9;
$greenFilterColor: #52bf03;
$orangeFilterColor: #f37d50; 