@mixin input-border {
  border: 1px solid $darkestGrayColor;
  border-radius: 5px;
}

@mixin gray-border($color: $darkestGrayColor) {
  border: 1px solid $color;
  border-radius: 5px;
}

@mixin note-border {
  border-radius: 5px;
  border: 1px solid $darkerGrayColor;
}

@mixin note-filter {
  width: 100%;
  height: 10px;
}

@mixin note-shadow($background: $darkerGrayColor) {
  box-shadow: 0px 2px 10px $background;
}
