@import "sass/style";

.filter-item {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  overflow: hidden;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active-filter {
    width: 35px;
    height: 35px;
  }
}

.none-filter {
  background-color: $darkestGrayColor !important;
}

.orange-filter {
  background-color: $orangeFilterColor !important;
}

.blue-filter {
  background-color: $blueFilterColor !important;
}

.green-filter {
  background-color: $greenFilterColor !important;
}
