@import "sass/style";

.note-form {
  width: 300px;
  height: 300px;
  background-color: $whiteColor;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  textarea {
    width: 200px;
    height: 100px;
    resize: none;
    @include input-border;
  }
}
